body {
    margin: 0;
    background-image: url("./sky.jpg");
    background-size: 100% 100vh;
}

h1 {
    color: white;
    padding-top: 5%;
    text-align: center;
}

.main-box {
    width: 40%;
    margin: 0 auto;
    border-radius: 7px;
    border: 2px solid white;
    background: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
}
h2 {
    color: black;
    text-align: center;
}

.begin-quiz-button {
    margin: 0 auto 1% auto ;
}

#restart {
    display: none;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: block;
}

.score-and-question-number {
    color: white;
    text-align: center;
}

.wrong {
    color: red;
}

.correct {
    color: green;
}

p {
    font-size: 1.5em;
}

#submitChoice {
    margin: 1em;
   
}

#next-question {
    margin: 1em;
} 

@media screen and (max-width: 500px) {
    .begin-quiz-button {
        width: 40%;
        margin: 0 auto 1% auto ;
        padding: 3%;
    }
    
    #restart {
        display: none;
        width: 15%;
        margin: 1em;
        width: 45%;
    }

    ul {
        padding: 0px;
    }

    h2 {
        padding: 5%;
        margin: 0px;
    }

    .main-box {
        width: 50%;
    }
}

label.col {
    display: flex;
    margin-right: 2px;
    font-size: 1.2em;
}

.final {
    color: blue;
}

fieldset {
    border: none;
}

.question-box {
    padding-top: 1em;
    font-size: 1.5em;
}

#submitChoice:hover {
    border: 1px solid black;
}

#next-question:hover {
    border: 1px solid black;
}

#restart:hover {
    border: 1px solid black;
}

.begin-quiz-button:hover {
    border: 1px solid black;
}
